* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100%;
    background-color: #f2f2f2;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    

    
}

main {
 
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (max-width:880px) {
    main {
        padding: 0 0.5rem;
    }
}

/*header*/

.header {
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;        
    align-items: center;
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background:#f2f2f2;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(10px);
    border-bottom: 3px solid #0D0D0D;
    background-color: #abfa54;
    z-index: 999;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbar-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #0D0D0D;
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid #0D0D0D;
    padding: 5px 8px;
    border-radius: 50px;
}
.navbar-toggle {
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar {
    display: none;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #0D0D0D;
    
}
.navbar-menu {
    display: flex;
    
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.navbar-menu li a {
    text-decoration: none;
    color: #0D0D0D;
    font-size: 1rem;
    font-weight: 600;
    padding: 3px 15px;
    border-radius: 20px;
    border: 2px solid transparent;
    white-space: nowrap;
}

.navbar-menu i {
    font-size: 22px;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #0D0D0D;

}




@media (max-width:880px) {
    .navbar {
        backdrop-filter: none;
        padding: 10px 0;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
    }

    .navbar-toggle {
        z-index: 999;
    }

    .bar {
        display: block;
       
    }
    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

     .navbar-container {
        padding: 15px;
    }
}

@media (max-width:480px) {
   

    .navbar-logo {
        font-size: 1.3rem;
    }

    .navbar-menu li a {
        padding: 3px 15px;
    }
}

/* inicio */


.inicio {
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    gap: 20px;
    display: flex;
}
.Text-inicio {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.Text-inicio h1 { 
    margin-top: 20px;
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    text-align: center;
    
}
.Text-inicio h2 {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 400;
}


.btn-inicio {
    display: flex;
    margin-top: 20px;
    


}

.btn-inicio a{
    padding: 10px 30px;
    color: #f2f2f2;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
    border: 3px solid #0D0D0D;
    box-shadow: 2px 2px #0D0D0D;
    border-radius: 12px;
    background-color: #BF05F2;

    
}


@media (max-width:480px) {
    .Text-inicio h1 {
        font-size: 90px;
    }

}
/*galeria*/

.galeria {
    
    gap: 40px;
    width: 100%;
    border: 3px solid #0D0D0D;
    box-shadow: 2px 2px #0D0D0D;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    background-color: #abfa54;
    
    
    

}

.galeria h2 {
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    color: #0D0D0D;
    margin-top: 10px;
}

.box-img {
    display: flex;
    overflow-y: hidden;
    gap: 20px;
    scrollbar-width: none;
    padding: 10px;

}

.box-img img {
    height: 300px;
    width: 200px;
    border: 3px solid #0D0D0D;
    box-shadow: 4px 4px #0D0D0D;
    border-radius: 16px;
    

}

@media (max-width:780px) {
    .galeria {
      
        height: auto;
        
    }
    .galeria h2 {
        font-size: 82px;
    }

  

    .box-img img {
        height: 250px;
        width: 150px;
    }
}

/* sobre mi */
.sobremi {
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
    display: flex;
}

.sobremi-box1 {
    display: flex;
    height: 100%;
    width: 55%;
}

.info-personal {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 80px;

}

.info-personal h2 {
    font-size: 100px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;


}

.info-personal p {
    font-size: 24px;

}


.sobremi-box2 {
    height: 100%;
    width: 45%;
    display: flex;
    gap: 40px;

}

.box-infomaty {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.box-experiencia {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 60%;
    border: 3px solid #0D0D0D;
    box-shadow: 4px 4px #0D0D0D;
    border-radius: 16px;
    background-color: #abfa54;
    padding: 12px;
    gap: 20px;
    
}


.card-maty {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 35%;
    border: 3px solid #0D0D0D;
    box-shadow: 4px 4px #0D0D0D;
    border-radius: 16px;
    background-color: #abfa54;
    
}



.nombre-maty {
    border-bottom: 2px solid #0D0D0D;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    

}

.img-maty {
    display: flex;
    height: 80%;
    width: 100%;
    background-image: url(imagenes/Foto\ maty.png);
    background-size: cover;
    background-position: center;
    border-radius:  0 0 12px 12px;
}

.nombre-maty h2 {
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    font-size: 22px;
    
    
}




.box-tituloexperiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-tituloexperiencia i {
    display: flex;
    padding: 5px;
    border-radius: 50px;
    border: 2px solid #0D0D0D;
    box-shadow: 1px 3px #0D0D0D;
    background-color: #BF05F2;
    font-size: 35px;
   
    
}

.box-experiencia h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    color: #0D0D0D;

}

.trabajos {
    border: 3px solid #0D0D0D;
    box-shadow: 2px 2px #0D0D0D;
    border-radius: 12px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #BF05F2;
    

}

.trabajos h3 {
    color: #f2f2f2;

}

.trabajos p {
    color: #f2f2f2;
    
}


@media (max-width:780px) {
    .sobremi {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .info-personal {
        gap: 40px;
    }

    .info-personal h2 {
        font-size: 52px;
    }

    .info-personal p {
    font-size: 22px;

}

    .sobremi-box1 {
        width: 100%;
        height: auto;
    }

    .card-maty {
        height: auto;
    }

     .sobremi-box2 {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
        gap: 20px;
     }

     .box-experiencia {
        height: 350px;
     }

     .box-tituloexperiencia i {
        font-size: 25px;
        border: 2px solid #0D0D0D;
         box-shadow: 1px 2px #0D0D0D;
       
     }
}





/* Servicio */

.servicio {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
   
   
}

.titulo-servicio {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    height: 100%;
    padding: 12px;
    order: 2;


}

.titulo-servicio h2 {
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
   

}

.titulo-servicio p {
    font-size: 24px;
}

.container {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    order: 1;
}
.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 12px;
    text-align: center;
}

.box-servicio {
    width: 200px;
    height: 200px;
    border: 3px solid #0D0D0D;
    box-shadow: 2px 2px #0D0D0D;
    border-radius: 12px;
    display: flex;
    background-color: #abfa54;
    color: #0D0D0D;

}

.content i {
    font-size: 64px;
}

.content p {
    font-size: 15px;
    font-weight: 500;
}

@media (max-width:880px) {
    .servicio {
        height: auto;
        padding: 0 10px ;
        flex-direction: column;
        border: none;
        box-shadow: none;
      
    }

    .titulo-servicio h2 {
       margin-bottom: 40px;

}

    .container {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        width: 100%;
        order: 2;
      
        
 
    }
    .box-servicio {
        width: 100%;
        height: 200px;
    }

    .titulo-servicio {
        width: 100%;
        gap: 5px;
        order: 1;
        
    }

    .titulo-servicio h2 {
        font-size: 48px;


    }

    .titulo-servicio p {
    font-size: 22px;

}


}

/* Preguntas frecuentes */

.preguntasfrecuentes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
    
}

.box-preguntas {
    
    display: flex;
    flex-direction: column;
}
.img-preguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.img-preguntas img {
    height: 480px;
    
}

.titulopreguntas {
    font-size: 52px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    margin-bottom: 20px;
    
    
}

.faq {
    max-width: 700px;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    cursor: pointer;
    background-color: #abfa54;
    border-radius: 12px;
    padding: 20px;
    border: 3px solid #0D0D0D;
    box-shadow: 2px 2px #0D0D0D;
}

.pregunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.pregunta h2 {
    font-size: 1rem;
    
}

.pregunta i {
    
    font-size: 22px;
    padding: 3px;
    border-radius: 50px;
    background-color: #BF05F2;
    color: #f2f2f2;
    border: 3px solid #0D0D0D;
}

.bx-chevron-up{
    transform: rotate(180deg);
}

.respuesta {
    width: 90%;
    max-height: 0;
    overflow: hidden;
    
}

.respuesta P {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 0.9rem;
}

.faq.active .respuesta {
    max-height: 300px;
}

.faq.active .pregunta i {
    transform: rotate(0deg);
}

@media (max-width:880px) {
    .img-preguntas img {
        height: 400px;

    }
}


@media screen and (max-width: 500px) {

    .preguntasfrecuentes {
        height: 80vh;
        padding: 0 20px;
        flex-direction: column;
        height: auto;
        gap: 40px;
    }
    .pregunta {
        
    }
    .pregunta h2 {
        font-size: 1rem;
        
        
    }

    .pregunta i {
        padding: 1px;
    }

    .respuesta P {
        font-size: 0.9rem;
        font-weight: 400;
        
    }

    .titulopreguntas {
        font-size: 42px;
        line-height: 1;
    }

}

/*Comentarios*/

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.comentarios { 
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: auto;
    margin: 0 10px;
    padding-bottom: 40px;

    
}

.titulocomentario {

    text-align: left;
    
}

.titulocomentario h2 {
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    line-height: 0.8;
    

}
.comentarios-slide {
    display: flex;
    gap: 20px;
    animation: 18s slide infinite linear;
}


.contenedorcomentarios {
    display: flex;
    gap: 20px;
}
.boxcomentarios {
    display: flex;
    flex-direction: column;
    background-color: #abfa54;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid #0D0D0D;
    box-shadow: 2px 2px #0D0D0D;  
    flex-shrink: 0;
    width: 350px;
}

.estrellas {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.estrellas i {
    color: #BF05F2;
}

.boxcomentarios h3 {
    font-size: 0.8rem;
    padding-bottom: 20px;
    font-weight: 500;
    border-bottom: 3px solid #0D0D0D;
    text-align: left;

}

.perfil {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.perfil img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.nombreperfil h4 {
    text-align: left;
    padding-bottom: 3px;
    font-size: 1rem;
    font-weight: 600;
}

.nombreperfil h5 {
    font-size: 0.8rem;
    font-weight: 400;
}

.comentarios {
    text-align: center;
}

/*footer*/

.footer {
    background-color: #0D0D0D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.logo-footer {
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    line-height: 0.9;
}
.redes {
    display: flex;
    gap: 20px;
}
.redes i {
    color: #f2f2f2;
    font-size: 32px;
    cursor: pointer;
    gap: 10px;
}
.navbar-footer {
    display: flex;
    gap: 25px;
    list-style: none;
     margin-bottom: 20px;
    
}

.navbar-footer li a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 400;
    font-size: 18px;
   
}
.licencia P {
    color: #f2f2f2;
    font-weight: 300;
    font-size: 14px;
}

@media (max-width:880px) {

    .navbar-footer li a {
        font-size: 12px;
    }

}
